$body-font: $font-sans;
$body-font-size: $delta;
$body-font-weight: $font-reg;

*,
*::before,
*:after {
  box-sizing: border-box;
  font-family: $body-font;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: $white;
  font-weight: $body-font-weight;
  line-height: 1.4;
  color: $ink;
  font-size: $body-font-size;
}

::selection {
  background: rgba(darken($blue-light, 10), 0.3);
}
